{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "plugins": ["jest"],
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "import/first": "off",
    "import/named": "error",
    "import/export": "error",
    "import/default": "error",
    "import/extensions": "off",
    "no-param-reassign": "off",
    "import/namespace": "error",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "prefer-promise-reject-errors": "off",
    "import/no-extraneous-dependencies": "off",
    "curly": "off",
    "indent": "off",
    "max-len": "off",
    "no-empty": "off",
    "no-shadow": "off",
    "func-names": "off",
    "no-console": "off",
    "no-continue": "off",
    "no-plusplus": "off",
    "quote-props": "off",
    "guard-for-in": "off",
    "dot-notation": "off",
    "arrow-parens": "off",
    "import/order": "off",
    "padded-blocks": "off",
    "no-unused-vars": "off",
    "global-require": "off",
    "arrow-body-style": "off",
    "no-return-assign": "off",
    "object-shorthand": "off",
    "no-throw-literal": "off",
    "consistent-return": "off",
    "operator-linebreak": "off",
    "prefer-rest-params": "off",
    "no-trailing-spaces": "off",
    "import/no-duplicates": "off",
    "object-curly-newline": "off",
    "no-restricted-syntax": "off",
    "prefer-destructuring": "off",
    "object-curly-spacing": "off",
    "no-unused-expressions": "off",
    "no-prototype-builtins": "off",
    "nonblock-statement-body-position": "off",
    "no-multiple-empty-lines": ["error", {"max": 1, "maxBOF": 1}]
  }
}
